.channels-Ie2l6A,
.membersWrap-2h-GB4,
.wrapper-1Rf91z,
.titleWrapper-1l0xT9 {
  display: none;
}

.containerCozyBounded-1rKFAn,
form {
  padding-left: 15%;
  padding-right: 15%;
}

.typing-2GQL18 {
  padding-left: 15%;
}

.cooldownWrapper-3joyFc {
  margin-right: 30%;
}